*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
}

#fac{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#faclogo{
    margin-top: 170px;
    margin-right: 90px;
}

#facpara{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 140px;
}

#login{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 50px;
    gap: 30px;
}

#login_form{
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}

input{
    height: 50px;
    width: 350px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
}

.button1, .button2{
    height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: #0866ff;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.button2{
    background-color: #42b72a;
    width: 200px;
}

a{
    color: #0866ff;
    text-decoration: none;
}

.loginhr{
    background-color: grey;
    width: 27vw;
}

#login_para{
    padding-left: 40px;
}

footer{
    color: #737373;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 140px;
    margin-top: 20px;
}